.fullWidth {
	width: 100%;
}
.halfWidth {
	width: calc(47% - 10px);
	margin-right: 20px;
}
.small {
	width: 100%;
}
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 60px;
	padding-right: 30px;
	margin-top: 20px;
	.likeCount {
		color: #959298;
		.icon {
			color: inherit;
		}
	}
}
.conditional {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.wrap {
	margin-bottom: 20px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	.image {
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
	}
	.title {
		color: #000;
		padding-left: 20px;
		font-weight: 600;
		margin-top: 20px;
		&::first-letter {
			text-transform: uppercase;
		}
	}
	.subTitle {
		margin-top: 20px;
		padding-left: 20px;
		&::first-letter {
			text-transform: uppercase;
		}
	}
	.box {
		display: flex;
		justify-content: space-between;
		padding: 20px;
		.link {
			text-decoration: none;
			color: #000;
			border: 1px solid #000;
			padding: 10px;
			border-radius: 20px;
			&:hover {
				color: #00000062;
			}
		}
	}
	.boxRight {
		display: flex;
		justify-content: end;
		padding: 20px;
		.link {
			text-decoration: none;
			color: #000;
			border: 1px solid #000;
			padding: 10px;
			border-radius: 20px;
			&:hover {
				color: #00000062;
			}
		}
	}
}
